<div class="container">
    <!--Card-->
    <div class="card shadow mb-5 bg-white rounded">
        <!--Card-Body-->
        <div class="card-body">
            <!--Card-Title-->
            <div class="container">
                <p class="card-title text-center shadow mb-5 rounded">Movie Booking Form</p>
            </div>

            <hr>
            <!--First Row-->
            <form>
                <div class="form-outline mb-4">
                    <label class="form-label" for="form2Example11">Movie Name</label>
                    <input type="name" id="form2Example11" class="form-control" placeholder="Enter movie name" />
                </div>
            </form>



            <!--Third Row-->
            <div class="row">
                <div class="col-sm-6">
                    <select class="browser-default custom-select mb-4" id="select">
              <option value="" disabled="" selected="">Language</option>
              <option value="1">English</option>
              <option value="2">Hindi</option>
              <option value="3">Marathi</option>
            </select>
                </div>
            </div>

            <!-- Forth Row-->
            <div class="row">
                <div class="col-sm-6">
                    <select class="browser-default custom-select mb-4" id="select">
              <option value="" disabled="" selected="">No. of Tickets</option>
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
              <option value="6">6</option>
              <option value="7">7</option>
              <option value="8">8</option>
              <option value="9">9</option>
              <option value="10">10</option>
            </select>
                </div>
            </div>

            <!-- Fifth Row-->
            <form>
                <div class="form-outline mb-4">
                    <label class="form-label" for="form2Example11">Ticket Price</label>
                    <input type="name" id="form2Example11" class="form-control" placeholder="Enter price" />
                </div>
            </form>

            <!--Six Row-->
            <div class="row mt-4">
                <div class="col-sm-6">
                    <select class="browser-default custom-select mb-4" id="select">
              <option value="" disabled="" selected="">From</option>
              <option value="1">9:00 AM</option>
              <option value="2">12:00 PM</option>
              <option value="3">3:00 PM</option>
              <option value="4">6:00 PM</option>
              <option value="5">9:00 PM</option>
            </select>
                </div>

                <div class="col-sm-6">
                    <select class="browser-default custom-select mb-4" id="select">
              <option value="" disabled="" selected="">To</option>
              <option value="1">12:00 AM</option>
              <option value="2">3:00 PM</option>
              <option value="3">6:00 PM</option>
              <option value="4">9:00 PM</option>
              <option value="5">12:00 PM</option>
            </select>
                </div>
            </div>

            <!--Seven Row-->
            <div class="row">
                <div class="col-sm-4">
                    <select class="browser-default custom-select mb-4" id="select">
              <option value="" disabled="" selected="">Kids(0-14)</option>
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
              <option value="6">6</option>
              <option value="7">7</option>
              <option value="8">8</option>
              <option value="9">9</option>
              <option value="10">10</option>
            </select>
                </div>

                <div class="col-sm-4">
                    <select class="browser-default custom-select mb-4" id="select">
              <option value="" disabled="" selected="">Adults(15-64)</option>
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="2">4</option>
              <option value="3">5</option>
              <option value="1">6</option>
              <option value="2">7</option>
              <option value="3">8</option>
              <option value="2">9</option>
              <option value="3">10</option>
            </select>
                </div>

                <div class="col-sm-4">
                    <select class="browser-default custom-select mb-4" id="select">
              <option value="" disabled="" selected="">Seniors(65+)</option>
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
              <option value="6">6</option>
              <option value="7">7</option>
              <option value="8">8</option>
              <option value="9">9</option>
              <option value="10">10</option>
            </select>
                </div>

            </div> <a href="#" class="btn btn-primary float-right mt-5">Book Ticket</a>
        </div>
    </div>
</div>